.postCompanyList{
  @extend .list;
  margin: 0;
  >.list{
    @extend .detailsBottom;
    border: none;
    margin: 0;
    >div{
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }
  }
  >h2{
    padding: 0 0.14rem;
  }
}